---
page_title: "Provider: Materialize"
description: Manage Materialize with Terraform.
---

# Materialize provider

This repository contains a Terraform provider for managing resources in a [Materialize](https://materialize.com/) account.

## Example provider configuration

Configure the provider by adding the following block to your Terraform project:

{{tffile "examples/provider/provider.tf"}}

## Schema

* `host` (String) Materialize host. Can also come from the `MZ_HOST` environment variable.
* `username` (String) Materialize username. Can also come from the `MZ_USER` environment variable.
* `password` (String, Sensitive) Materialize host. Can also come from the `MZ_PW` environment variable.
* `port` (Number) The Materialize port number to connect to at the server host. Can also come from the `MZ_PORT` environment variable. Defaults to 6875.
* `database` (String) The Materialize database. Can also come from the `MZ_DATABASE` environment variable. Defaults to `materialize`.
* `testing` (Boolean) Enable to test the provider locally

## Order precedence

The Materialize provider will use the following order of precedence when determining which credentials to use:
1. Provider configuration
2. Environment variables

## Modules

To help with your projects, you can use these Materialize maintained Terraform modules for common configurations:

* [MSK Privatelink](https://registry.terraform.io/modules/MaterializeInc/msk-privatelink/aws/latest)
* [Kafka Privatelink](https://registry.terraform.io/modules/MaterializeInc/kafka-privatelink/aws/latest)
* [EC2 SSH Bastion](https://registry.terraform.io/modules/MaterializeInc/ec2-ssh-bastion/aws/latest)
* [RDS Postgres](https://registry.terraform.io/modules/MaterializeInc/rds-postgres/aws/latest)

## Getting support

If you run into a snag or need support as you try out the Materialize Terraform provider, join the Materialize [Slack community](https://materialize.com/s/chat) or [open an issue](https://github.com/MaterializeInc/terraform-provider-materialize/issues)!