name: acceptance
on:
  pull_request:
    paths:
      - pkg/**
      - main.go
      - go.mod
  schedule:
    - cron: 1 11 * * 0

jobs:
  acceptance:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"
          cache: true

      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.11.4

      - name: Docker Compose Up
        run: docker compose up --build -d

      - name: Configure hosts file
        run: echo "127.0.0.1 materialized frontegg cloud" | sudo tee -a /etc/hosts

      - name: make testacc
        run: make testacc
        env:
          MZ_ENDPOINT: http://localhost:3000
          MZ_CLOUD_ENDPOINT: http://localhost:3001
          MZ_PASSWORD: mzp_1b2a3c4d5e6f7a8b9c0d1e2f3a4b5c6d7e8f9a0b1c2d3e4f5a6b7c8d9e0f1a2b
          MZ_SSLMODE: disable

      - name: Docker Compose Down
        run: docker compose down
