name: terraform
on:
  pull_request:
    paths:
      - examples/**
      - integration/**

jobs:
  terraform:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.11.4

      - run: terraform fmt -recursive -check -diff
